{{#each agents as |agent|}}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="/agents"><img src="{{agent.agent_img}}" alt="..."></a>
                        <div class="caption">
                            <h3>{{agent.first_name}} {{agent.last_name}}</h3>
                            <p>Agent</p>
                        </div>
                    </div>
                </div>
{{/each}}