<div class="ranch">
  <div class="topright">
    <h3>Welcome to Spangled Banner Reality!</h3>
    <div class="info">
      <p>If you're looking for a private realty company that deals
        <br />with high quality Ranch homes, We're your guys! We're a homegrown
        Texas<br />
        company, so you know you're being taken care of like family around these
        parts.
        <br />Our mission is to help our clients find their forever homes in the
        south. We care about<br />
        your privacy, whether you're a seller or a buyer, we have your back! Our
        homes<br />
        can only be viewed exclusively by our members. Tired of your home
        information<br />
        being out for everyone to see?Then Join us today here<br />
        at Spangled Banner Realty, where we will service your every need!<br />
        -The Spangled Banner Team.
      </p>
    </div>
  </div>
</div>
{{> agentsPartial}}