<div>
    <h2><small>
            <a href="/" class="agent-links">Return home</a></small>
    </h2>
</div>
</div>

<div class="agent-page-box">
    <h1 class="login-register-hdr">Properties</h1>
    <section class="agent-page-agent-box">
        {{> propertiesPartial}}
    </section>
</div>