<h1>Register</h1>
<!-- post to a route with the name /register in the server-->
<form action="/register" method="POST">
  <!-- create name field for user-->  
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required >
    </div>
      <!-- create email ield for user-->  
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required >
    </div>
      <!-- create password field for user-->  
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required >
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>
