<div>
    <h3><a href="/" class="agent-links">Return home</a></h3>
</div>

<div class="agent-page-box">
    <h1 class="login-register-hdr">Client Reviews </h1>
    <section class="agent-page-agent-box">
        {{> reviewsPartial  }}
    </section>
</div>