* {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif'Courier New', Courier, monospace;
    font-display: right;
}

.ranch {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 0%;
    background-image: url("../images/realty\ backdrop.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.footer{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    justify-content: space-between;
}

img:hover {
    box-shadow:  0 2px 1px rgba(0, 140, 186, 0.5);
}

.caption {
    justify-content: center;
}

.links{
    display: flex;
    background-color: white;
    justify-content: space-between;
    color: black;
    width: 50vw;
    margin-top: 50px;
    margin-right: 20px;
    
}

a:link {
    color: black;
    text-decoration: none;
    text-align: right;
}

a:hover {
    color: grey;
}

.flex{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

#logo{
    height: 100px;
    width: 250px;
}

.topright{
    position: absolute;
    top: 150px;
    right: 9px;
    text-align: center;
    font-size: 14px;
}

.agent-body{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    justify-content: space-between;
    margin-top: 10%;
}

.agent-links{
    display: flex;
    background-color: white;
    color: black;
    margin-top: 50px;
    margin-left: 30%;
    
}

